<!doctype html>
<head>
	<meta charset="utf-8">
	<title>$TITLE</title>
	<script></script>
	<meta name="description" content="$METADESC">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
$META	<!--[if lt IE 9]><script src="{{MEDIA_URL}}js/ie.js"></script><![endif]-->
	<script src="{{MEDIA_URL}}js/setup-v4.js"></script>
	<script type="text/javascript">var _paq=_paq||[];_paq.push(["setDocumentTitle",document.domain+"/"+document.title]);_paq.push(["setCookieDomain","*.tripchan.moe"]);_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var a="//stats.tripchan.moe/";_paq.push(["setTrackerUrl",a+"piwik.php"]);_paq.push(["setSiteId",1]);var e=document,c=e.createElement("script"),b=e.getElementsByTagName("script")[0];c.type="text/javascript";c.async=true;c.defer=true;c.src=a+"piwik.js";b.parentNode.insertBefore(c,b)})();</script>
	<noscript><p>Ative o Javascript para que este site possa funcionar corretamente.</p></noscript>
</head>
$NAV
<h1>$TITLE</h1>
<fieldset id="identity" class="modal bmodal">
<label for="name" class="ident">Nome:</label> <input id="name" name="name"><br>
<label for="email" class="ident">Email:</label> <input id="email" name="email"><br>
</fieldset>
<div id="hover_overlay"></div>
<span id="banner">
    <b id="navTop">
        < <a href="https://tripchan.moe/att/" id="top" target="_blank">att</a> ·
        <a href="https://tripchan.moe/c/" id="top" target="_blank">c</a> >
    </b>
	<b id="banner_center"></b>
	    <a id="options" class="bfloat" title="Opções">
		    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 8 8">
		    <path d="M3.5 0l-.5 1.19c-.1.03-.19.08-.28.13l-1.19-.5-.72.72.5 1.19c-.05.1-.09.18-.13.28l-1.19.5v1l1.19.5c.04.1.08.18.13.28l-.5 1.19.72.72 1.19-.5c.09.04.18.09.28.13l.5 1.19h1l.5-1.19c.09-.04.19-.08.28-.13l1.19.5.72-.72-.5-1.19c.04-.09.09-.19.13-.28l1.19-.5v-1l-1.19-.5c-.03-.09-.08-.19-.13-.28l.5-1.19-.72-.72-1.19.5c-.09-.04-.19-.09-.28-.13l-.5-1.19h-1zm.5 2.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5z"/>
		    </svg>
	    </a>
	    <a id="banner_identity" class="bfloat" title="Identidade">
		    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 8 8">
		    <path d="M4 0c-1.1 0-2 1.12-2 2.5s.9 2.5 2 2.5 2-1.12 2-2.5-.9-2.5-2-2.5zm-2.09 5c-1.06.05-1.91.92-1.91 2v1h8v-1c0-1.08-.84-1.95-1.91-2-.54.61-1.28 1-2.09 1-.81 0-1.55-.39-2.09-1z" />
		    </svg>
	     </a>
	    <a id="novo" class="bfloat" href="https://tripchan.moe/novo" target="_blank" title="Novo por aqui?">
		    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 8 8">
		    <path d="M2.47 0c-.85 0-1.48.26-1.88.66-.4.4-.54.9-.59 1.28l1 .13c.04-.25.12-.5.31-.69.19-.19.49-.38 1.16-.38.66 0 1.02.16 1.22.34.2.18.28.4.28.66 0 .83-.34 1.06-.84 1.5-.5.44-1.16 1.08-1.16 2.25v.25h1v-.25c0-.83.31-1.06.81-1.5.5-.44 1.19-1.08 1.19-2.25 0-.48-.17-1.02-.59-1.41-.43-.39-1.07-.59-1.91-.59zm-.5 7v1h1v-1h-1z" transform="translate(2)" />
		    </svg>
	     </a>
    <b id="banner_info">{{BANNERINFO}}</b>
	    <a id="feedback" href="mailto:{{EMAIL}}" target="_blank" class="bfloat" title="Contato">
		    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 8 8">
		    <path d="M0 0v1l4 2 4-2v-1h-8zm0 2v4h8v-4l-4 2-4-2z" transform="translate(0 1)" />
		    </svg>
	    </a>
	    <a id="home" href="https://tripchan.moe" target="_blank" class="bfloat" title="Home">
		    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 8 8">
		    <path d="M4 0l-4 3h1v4h2v-2h2v2h2v-4.03l1 .03-4-3z" />
		    </svg>
	    </a>
   <b id="sync" class="bfloat">Dessincronizado</b>
</span>
$THREADS
$NAV
<script src="{{MEDIA_URL}}js/jquery-1.10.2.min.js"></script>
<script src="{{MEDIA_URL}}js/pixastic.blurfast.min.js"></script>
<script src="{{MEDIA_URL}}js/sockjs-0.3.4.min.js"></script>
<script src="{{MEDIA_URL}}js/{{VENDOR_JS}}"></script>
<script src="{{MEDIA_URL}}js/{{CLIENT_JS}}"></script>
