a, blockquote a:hover, b.moderator {
	color: #81a2be;
}
.bfloat > svg {
	fill: #81a2be;
}
a:hover, blockquote a, .email b:hover, article.editing a:hover {
	color: #5f89ac;
}
article, aside, .bmodal, .pagination, #FAQ {
	background-color: #282a2e;
	border: 1px solid #282a2e;
}
article.highlight, .preview, .popup-menu {
	background-color: #1d1d21;
	border-color: #111;
}
article.editing {
	background-color: #cec952;
	border-color: #aa3;
	color: black;
}
article.editing a, article.editing header {
	color: #222;
}
article.editing em {
	color: #656d28;
}
article.editing li {
	color: #ddd;
}
article.editing .themed {
	color: #333;
}
b.admin {
	color: #f00000;
}
#banner {
	background: rgba(40, 42, 46, 0.7);
}
body {
	background-color: #1d1f21;
	color: #c5c8c6;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.embed {
	background-color: white;
}
em {
	color: #b5bd68;
}
h1 {
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	font-family: Tahoma;
}
h3 {
	color: #ce52c9;
}
hr {
	border-top: 1px solid #282a2e;
}
.popup-menu li:hover {
	background-color: #136;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.omit {
	color: #707070;
}
#lock, .scroll-lock header {
    background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
}
.themed {
	color: #999;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
	screen and (-o-device-pixel-ratio: 3/2),
	screen and (min--moz-device-pixel-ratio: 1.5),
	screen and (min-device-pixel-ratio: 1.5) {
	#lock, .scroll-lock header {
		background-image: url('ui/invlock2x.png');
	}
}
