a {
	border: none;
	text-decoration: underline;
}
a.nope, a.nope:hover {
	color: inherit;
	text-decoration: none;
}
article, aside {
	display: table;
	margin: 2px;
	padding: 4px 10px;
}
aside a {
	position: relative;
	z-index: 15;
}
a, aside, .bfloat {
	cursor: pointer;
}
#sync {
	cursor: auto;
}
article figure img {
	margin-bottom: 0;
}
body > aside {
	margin: 1em;
	color: black;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.embed {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	margin: -2px;
	padding: 2px;
	text-decoration: none;
}
.embed, .embed:hover {
	color: inherit;
}
del, del em {
	background-color: black;
	color: black;
	text-decoration: none;
}
del:hover, del:hover em, del.reveal, del.reveal em {
	color: white;
}
em {
	font-style: normal;
}
fieldset {
	border: 0;
}
figcaption {
	display: block;
	margin: 2px 0;
}
figcaption i {
	font-style: normal;
}
figcaption i a {
	text-decoration: none;
}
figure {
	display: inline;
	margin: 0;
}
figure img {
	border: 0;
	clear: both;
	float: left;
	margin: 3px 20px 20px 0;
	vertical-align: top;
}
h1 {
	margin-top: 2em;
}
h1, h2 {
	text-align: center;
}
h3 {
	display: inline;
	font-size: inherit;
}
#hover_overlay {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	pointer-events: none;
	display: flex;
	z-index: 300;
}
#hover_overlay_image {
	max-height: 100%;
	max-width: 100%;
	margin: auto auto;
	display: none;
}
header {
	background: url('ui/menu.svg') left 3px no-repeat;
	margin-left: -14px;
	padding-left: 14px;
	position: relative;
}
article header {
	margin-left: -3px;
	padding-left: 14px;
}
.preview header {
	background-image: none;
}
header nav a {
	text-decoration: none;
}
header code {
	font-family: inherit;
	font-weight: normal;
}
hr {
	border: none;
	clear: both;
}
#hidden-upload {
	display: none;
}
label.ident {
	display: inline-block;
	text-align: right;
	width: 3em;
}
section {
	display: block;
	margin: 0 1em 1em 1em;
}
section nav, section p, .preview nav {
	display: inline;
}
small {
	clear: left;
	display: block;
	padding-top: 0.5em;
}
span.control .popup-menu {
	z-index: 10;
}
.popup-menu {
	background: url('ui/menu.svg') 10px 10px no-repeat;
	border-bottom: none;
	position: absolute;
	margin: 0;
	padding: 5px;
	top: -9px;
	left: -9px;
}
.popup-menu, .act {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.popup-menu li {
	list-style: none;
	margin: 0;
	padding: 3px 3px 3px 21px;
}
.control {
	cursor: pointer;
	display: inline-block;
	height: 12px;
	left: -1px;
	position: absolute;
	top: 2px;
	width: 12px;
}
#banner{
	display: inline-block;
	text-align: center;
	position: fixed;
	width: 100%;
	margin-left: -8px;
	margin-right: -8px;
	top: 0;
	z-index: 100;
}
.bfloat {
	font-weight: bold;
	float: right;
	margin: 0.15em;
}
#options {
	margin-right: 0.2em;
}
#navTop {
	float: left;
	margin-left: 8px;
}
.bmodal {
	display: none;
	text-align: left;
	z-index: 200;
	padding: 1em;
	margin-right: 0.2em;
	position: fixed;
	right: 0;
	overflow: auto;
	max-height: 80%;
	max-width: 80%;
}
#FAQ > ul, #schedule > table {
	list-style-type:none;
	-webkit-margin-before: 0em;
	margin-top: 0em;
	-webkit-margin-after: 0em;
	margin-bottom: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	-moz-margin-start: 0em;
	-moz-margin-end: 0px;
	-moz-padding-start: 0px;
}
section #banner {
	margin-top: 1em;
	text-align: left;
}
a#top {
    text-decoration: none;
}
#bgvid{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: -100;
}
#user_bg {
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	bottom: -100%;
	width: 100%;
	height: auto;
	z-index: -100;
	overflow: hidden;
	margin: auto;
}
.email {
	text-decoration: underline;
}
figure {
	display: block;
	position: relative;
}
footer {
    text-align:center;
}
section > figure > a {
	float: left;
	position: relative;
	z-index: 5;
}
.hat, .expanded .hat {
	background: url('ui/hat.png') no-repeat;
	position: absolute;
	left: 10px;
	top: -75px;
	width: 70px;
	height: 141px;
}
article .hat {
	width: 35px;
	height: 70px;
	left: 10px;
	top: -28px;
	background-size: 35px 70px;
}
#lock {
    background: url('ui/lock.svg') no-repeat left;
    background-size: 1em 1em;
	color: gray;
	float: right;
	padding-left: 15px;
}
.locked:after {
	content: "Este fio morreu. RIP em paz.";
}
.locked > header nav:after {
	content: " (morto)";
}
.locked aside {
	display: none;
}
.omit {
	line-height: 200%;
}
.modal {
	overflow: hidden;
	padding: 1em;
	white-space: nowrap;
	z-index: 20;
}
.pagination {
	display: inline-block;
	padding: 2px 10px;
	margin: 1px 0;
}
.pagination a, .pagination strong {
	display: inline-block;
	padding: 4px;
}
.preview {
	padding: 4px 10px;
	position: absolute;
	z-index: 30;
}
.scroll-lock > header {
    background-image: url('ui/lock.svg');
    background-size: 1em 1em;
	background-position: 0 0;
}

.multi-select article {
	margin-left: 50px;
}
.multi-select section > header {
	clear: both;
	margin-left: 55px;
}
.multi-select section > header .select-handle {
	margin-left: -65px;
}
.select-handle {
	width: 35px;
	height: 35px;
	margin-left: -55px;
	float: left;
	border: solid 1px gray;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.selected {
	background: url('ui/sel.png') no-repeat center center;
}
.themed {
	background-color: transparent;
	color: #444;
	outline: none;
}

#bottom {
	float: left;
	margin-bottom: 7px;
	min-width: 100px;
}
#report-panel {
	position: fixed;
	right: 10px;
	bottom: 10px;
}
#report-panel #captcha, #report-panel .message {
	margin: 1em 0;
}
#report-panel .error {
	color: red;
}
#report-panel .close {
	float: right;
	font-weight: bold;
	padding-left: 1em;
	text-decoration: none;
}
#shortcuts {
	margin-top: 1em;
}
#shortcuts input {
	border: none;
	width: 2em;
	margin-right: 1em;
}
pre {
	height: auto;
	margin: 0;
	position: absolute;
	top: 0;
	width: auto;
	visibility: hidden;
}
pre, .themed {
	border: 0;
	padding: 0;
}
#toggle {
	background: url('ui/pane.png') transparent;
	background-size: 78px 19px;
	border: 0;
	height: 19px;
	width: 78px;
}
#trans {
	display: inline;
	margin: 0 0 -3px 0;
	overflow-y: hidden;
	resize: none;
	text-wrap: none;
	vertical-align: baseline;
}

@media screen and (max-device-width: 700px) {
	article {
		clear: both;
	}
	body {
		margin: 1px 0;
		-webkit-text-size-adjust: none;
	}
	blockquote {
		margin: 0.5em 0 0.5em 0.5em;
	}
	section {
		margin: 0;
	}
	.expanded img {
		margin-right: 0;
	}
	.scroll-lock {
		margin-left: -3px;
	}
	#return {
		min-width: inherit;
		margin-right: 0.5em;
	}
	#banner {
		margin-left: 0;
		margin-right: 0;
	}
	#navTop {
		margin-left: 0;
	}
	#options {
		margin-right: 0;
	}
}

@media screen and (max-device-width: 700px) and (orientation: portrait) {
	section > blockquote, section > header, section > #banner, section > .omit {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
    #banner_info {
        display: none;
    }
	section > header {
		clear: both;
	}
	.full figcaption i {
		display: block;
	}
}

