a, blockquote a {
	color: #3B5E9A;
}
a:hover, .email b:hover {
	color: #253858;
}
a {
	color: #4768A0;
}

.bfloat > svg {
    fill: #4768A0;
}

article, pagination {
	background-color: #EAEEF1;
	border-right: 1px solid  #D2DDE1;
	border-left: 1px solid #E7ECEF;
	border-bottom: 1px solid #D2DDE1;
	border-top: 1px solid  #E7ECEF;
    padding-bottom: -2px;
}
aside {
	background-color: #EAEEF1;
}

article.highlight {
	background-color: #EAEEF1;
	border-left: 2px solid #D82A59;
}
article.editing {
	background-color: #E6EFF4;
	border-color: #B5B5B8;
}
b {
	color: #D82A59;
}
b.admin {
	color: #d60000;
}
b.moderator {
	color: #7800b3;
}
#banner {
    background: rgba(234, 238, 241, 0.7);
}
body {
    color: #37464F;
	background-color: #E1E7EB;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
}
i, figcaption {
	color: #587481;
}

time {
	color: #697174;
}
pre, .themed {
  color: #59543f;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
}
em {
	color: #6e9e06;
}
h1 {
	color:#4E4B63 ;
	font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro", Helvetica, sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	font-weight:400;
}
h2 {
	color: #b32407;
	font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro", Helvetica, sans-serif;
}
h3 {
	color: #42608E;
}
header nav a {
	color: #5F7A87;
}
hr {
	border-top: 1px solid #CBD2D6;
}
.popup-menu li:hover {
	background-color: #EAEEF1;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #54578c;
}

em {
	color: #82AF96;
}
.modal, .bmodal, .preview, .popup-menu {
	background-color:  #EAEEF1;
    border-top: 1px solid #A0A0A0
	border-bottom: 1px solid #e5e8e2;
}
.omit {
	color: #73806c;
}

footer {
color: #808080;
text-align: center;
}

#options-panel {
	background-color: #EAEEF1;
	border-right: 1px solid  #D2DDE1;
        border-left: 1px solid #E7ECEF;
        border-bottom: 1px solid #D2DDE1;
        border-top: 1px solid  #E7ECEF;
}

code {
	color: #6A688E;
}

#lock, .scroll-lock header {
    background-image: url('ui/lock.svg');
    background-size: 1em 1em;
}

