a, blockquote a:hover, b.moderator {
    color: #599EA8;
}
a:hover, blockquote a, .email b:hover, article.editing a:hover {
    color: #599EA8;
}

.bfloat > svg {
    fill: #599EA8;
}

article, aside, .bmodal, .pagination {
    background-color: #050505;
    border: 1px solid #292a2b;
}
article.highlight {
    background-color: #050505;
    border-left: 2px solid #F23067 !important;
}
.preview, .popup-menu {
    background-color: #1d1d21;
    border-color: #111;
}
article.editing {
    background-color: #171717;
    color: white;
    border: 1px solid #757575;
}
b.admin {
    color: #f00000;
}
b {
    color: #F23067;
}
#banner {
    background: rgba(35,36,37, 0.7);
}
body {
    background-color: black;
    color: #dddddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
body, pre, .themed {
    font-size: 10pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
code {
    color: #B993CC;
}
del {
    background-color: #ac9bb0;
    color: #ac9bb0;
    text-shadow: none;
}
del:hover, del:hover em, del.reveal, del.reveal em {
    color: #000;
}
.embed {
    background-color: white;
}
em {
    color: #CEE8A0;
}
h1 {
    font: bolder 28px;
    font-family:  "MS Pゴシック",  "MS PGothic",  "Mona",  "Hiragino Kaku
Gothic Pro",  Helvetica,  sans-serif;
    letter-spacing: 1px;
}
h2 {
    font-family: Tahoma;
}
h3 {
    color: #CA8383;
}
hr {
    border-top: 1px solid #282a2e;
}
.popup-menu li:hover {
    background-color: #136;
}
.act:before {
    content: "[";
}
.act:after {
    content: "]";
}
.omit {
    color: #707070;
}
#lock, .scroll-lock header {
    background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
}
.themed {
    color: #999;
}
