a {
	color: #a00;
}
.bfloat > svg {
	fill: #a00;
}
a:hover, blockquote a, .email b:hover {
	color: #513fd3;
}
article, aside, .bmodal, #identity, .pagination {
	background-color: #e9e0c9;
	border-right: 1px solid #d1c29b;
	border-bottom: 1px solid #d1c29b;
}
article.highlight {
	background-color: #e9e0c9;
	border-left: 2px solid #555;
}
article.editing {
	background: #b7bbb6 url('chevrons.png');
	border-color: gray;
	background-attachment: fixed;
}
b {
	color: #555;
}
b.admin {
	color: #ff2385;
}
b.moderator {
	color: #128e3c;
}
#banner {
	background: rgba(233, 224, 201, 0.7);
}
body {
	background: #eee url('scales.png');
	background-attachment: fixed;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #992278;
}
h1 {
	color: black;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: black;
	font-family: Tahoma;
}
h3 {
	color: #730;
}
header, header nav a, small {
	color: #444;
}
hr {
	border-top: 1px solid #b7c5d9;
}
.popup-menu li:hover {
	background-color: #f5f5f5;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #0f0c5d;
}
.modal, .popup-menu {
	background-color: white;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.preview {
	background-color: #f9f0d9;
	border-right: 1px solid #e9e0c9;
	border-bottom: 1px solid #e9e0c9;
}
.omit {
	color: #555;
}
