/* Based on ashita */
a, blockquote a:hover, b.moderator {
	color: #C8C8D9;
}
.bfloat > svg {
	fill: #C8C8D9;
}
article, aside, .pagination, .popup-menu, .bmodal, #FAQ, .preview, #banner {
	background-color: rgba(40, 42, 46, 0.5);
}
article.editing {
	background-color: rgba(145, 145, 145, 0.5);
}
blockquote, time, #FAQ {
	color: white;
}
b.admin {
	color: #f00000;
}
body {
    color:white;
    background-color: rgba(40, 42, 46, 0.5);
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #b5bd68;
}
.embed, .embed:hover {
	color: black;
}
h1 {
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	font-family: Tahoma;
}
h3 {
	color: #ce52c9;
}
hr {
	border-top: 1px solid #282a2e;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
#lock, .scroll-lock header {
    background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
	color: white;
}
.popup-menu li:hover {
	background-color: rgba(40, 42, 46, 0.6);
}
.themed {
	color: white;
}

