a {
	color: #054500;
}
a:visited {
	color: #00E;
}
.bfloat > svg {
    fill: #054500;
}
a:hover, blockquote a, .email b:hover {
	color: #00E;
}
article, aside, .bmodal, .pagination {
	background:url(td.png);
	border-right:1px solid #e5d959;
	border-bottom:1px solid #e5d959;
}
article.highlight {
    border-left: 1px solid #800000;
	border-color: #e5d959;
}
article.editing {
	background:url(active.png);
	border-right:1px solid #C6C6C6;
	border-bottom:1px solid #C6C6C6;
}
b {
	color: #800000;
}
b.admin {
	color: #f00000;
}
b.moderator {
	color: purple;
}
#banner {
    background:url(td.png);
    opacity: 0.7;
}
body {
	font-family:arial,helvetica,sans-serif;
	font-size:10pt;
	background-image: url(bg.png);
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
code {
	color: #228854;
}
em {
	color: #789922
}
h1 {
	color: #054500;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #af0a0f;
	font-family: Tahoma;
}
h3 {
	color: #CC1105;
}
header nav a {
	color: black;
}
hr {
	border-top: 1px solid #ADC3B8;
}
.popup-menu li:hover {
	background-color: #f5f5f5;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #0f0c5d;
}
.modal, .preview, .popup-menu {
	background-color: white;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.omit {
	color: gray;
}
