a {
	color: #c22;
}
.bfloat > svg {
	fill: #c22;
}
a:hover, blockquote a, .email b:hover {
	color: #513fd3;
}
article, aside, .bmodal, .pagination {
	background-color: #222;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
}
article.highlight {
	background-color: #222;
	border-left: 2px solid #c22;
}
article.editing {
	background-color: #311;
	border-color: #200;
}
b {
	color: #666;
}
b.admin {
	color: #f00;
}
b.moderator {
	color: #ffff33;
}
#banner {
	background: rgba(34, 34, 34, 0.7);
}
body {
	color: #eee;
	background: black url('95.png');
	background-attachment: fixed;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #a00;
}
h1 {
	color: #900;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #900;
	font-family: Tahoma;
}
h3 {
	color: #b388ff;
}
header, figcaption, figcaption a, small, .act {
	color: #555;
}
hr {
	border-top: 1px solid #300;
}
.popup-menu li:hover {
	background-color: white;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #88c;
}
.preview, .popup-menu {
	background-color: #111;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.omit {
	color: #999;
}
#lock, .scroll-lock header {
	background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
    color: gray;
}
.themed {
	color: gray;
}

