a {
	color: #34345c;
}
.bfloat > svg {
	fill: #34345c;
}
a:hover, blockquote a, .email b:hover {
	color: #d00;
}
article, aside, .bmodal, .pagination {
	background-color: #d6daf0;
	border-right: 1px solid #b7c5d9;
	border-bottom: 1px solid #b7c5d9;
}
article.highlight {
	background-color: #d6daf0;
    border-left: 2px solid #117743;
}
article.editing {
	background-color: #fa6;
	border-color: #e95;
}
b {
	color: #117743;
}
b.admin {
	color: #f00000;
}
b.moderator {
	color: purple;
}
#banner {
	background: rgba(214, 218, 240, 0.7);
}
body {
	background-color: #eef2ff;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #789922;
}
h1 {
	color: #af0a0f;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #af0a0f;
	font-family: Tahoma;
}
h3 {
	color: #0f0c5d;
}
header nav a {
	color: black;
}
hr {
	border-top: 1px solid #b7c5d9;
}
.popup-menu li:hover {
	background-color: #f5f5f5;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #0f0c5d;
}
.modal, .preview, .popup-menu {
	background-color: white;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.omit {
	color: gray;
}
