a {
	color: #FF0000;
    background-color: #000;
}
.bfloat > svg {
	fill: #fff;
}
a:hover, blockquote a, .email b:hover {
	color: #FF0000;
}
article, aside, .pagination {
	background-color: #251515;
}
article.highlight {
	background-color: ;
    border-left: 2px solid #fff;
}
article.editing {
	background-color: #3A2525;
	border-color: #e95;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
b {
	color: #FF0000;
}
b.admin {
	color: #f00000;
}
b.moderator {
	color: purple;
}

figure img {
    background-image: none;
}

#banner {
	background: #000;
    border-bottom: 2px solid #fff;
}
body {
	background-color: #FF0000;
    color: #fff;
    background-image: url(pt.png);
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #06FF00;
}
h1 {
	color: #fff;
    text-shadow: #8e3523 1px 1px 0px;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #af0a0f;
	font-family: Tahoma;
}
h3 {
	color: #0f0c5d;
}
header nav a {
	color: #FF0000;
}
hr {
	border-top: 1px dotted #000;
}
.popup-menu li:hover {
	background-color: #f5f5f5;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #0f0c5d;
}
.modal, .preview, .popup-menu {
	background-color: white;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.omit {
	color: white;
}

#lock, .scroll-lock header {
    background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
}

