a,blockquote a:hover,b.moderator {
    color:#00AA91;
}
a:hover,blockquote a,.email b:hover,article.editing a:hover {
    color:#5f89ac;
}
.bfloat > svg {
    fill: #00AA91;
}
article,aside, .bmodal, .pagination {
    background-color:#000000;
    border:1px solid #292a2b;
}
article.highlight,.preview,.popup-menu {
    background-color:#000000;
    border-color:#8EA39C;
}
article.editing {
    background-color:#000;
    border-color:#;color:white;
    border:1px solid #A6D2FF;
}
article.editing a,article.editing header {
    color:#dddddd;
    }
article.editing em {
    color:b3c45e;
}
article.editing li {
    color:#dddddd;
}
article.editing .themed {
    color:#B7B7B7;
}
b.admin {
    color:#f00000;
}
b {
    color:#a8c6d9;
}
#banner {
    background: rgba(0, 0, 0, 0.7);
}
body {
    background-color:#191A1B;
    background: url(http://static.tripchan.moe/u.gif) no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -background-opacity: 0.5;
    color: #A6D2FF;
}
body,pre,.themed {
   font-family: sans-serif, Helvetica, Arial;
    font-size: 10pt;
    font-size:10pt;
}
code {
    color:#616FD7;
    font-weight:bold
}
del {
    background-color: #79E77B;
    color: #79E77B;
    text-shadow: none;
}
del:hover, del:hover em, del.reveal, del.reveal em {
    color: #000;
}
.embed {
    background-color: #383838;
    color: #00AA91 !important;
}
.embed:hover {
    color: #00AA91 !important;
}
em {
    color:#79E77B;
}
h1 {
    font:bolder 28px;
    font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro", Helvetica, sans-serif;
    letter-spacing:1px;}
h2 {
    font-family:sans-serif;
}
h3 {
    color:#B421C0;
}
hr {
    border-top:1px solid #282a2e;
}
.popup-menu li:hover {
    background-color:#136;
}
.act:before {
    content:"[";
}
.act:after {
    content:"]";
}
.omit {
    color:#707070;
}
#lock,.scroll-lock header {
    background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
}
.themed{
    color:#999;
}
