a {
	color: #333;
}
a:hover, blockquote a, .email b:hover {
	color: #333;
}
.bfloat > svg {
    fill: #333;
}
article, aside, .pagination {
	background-color: #F0F4FF;
}
article.highlight {
	background-color: #F0F4FF;
    border-left: 2px solid #333;
	border-color: #ba9dbf;
}
article.editing {
	background-color: #EAECF1;
	border-color: #e95;
}
b {
	color: #117743;
}
b.admin {
      color: #f00000;
}
b.moderator {
	color: purple;
}
#banner {
    background: rgba(240, 244, 255, 0.7);
}
body {
	background:none repeat scroll 0% 0% #D7E2FF;
	color:#333333;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
code {
	color: #228854;
}
em {
	color: #789922;
}
h1 {
	color: #333;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #af0a0f;
	font-family: Tahoma;
}
h3 {
	color: #CC1105;
}
header nav a {
	color: black;
}
hr {
	border-top: 1px solid #b7c5d9;
}
.popup-menu li:hover {
	background-color: #f5f5f5;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #0f0c5d;
}
.bmodal, .preview, .popup-menu {
	background-color: #F0F4FF;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.omit {
	color: gray;
}

#options-panel {
background-color: #F0F4FF
}
