a, blockquote a:hover, b.moderator {
	color: #6C71C4;
}
a:hover, blockquote a, .email b:hover, article.editing a:hover {
	color: #5f89ac;
}
.bfloat > svg {
    fill: #6C71C4;
}
article, aside, .bmodal, .pagination {
	background-color: #002B36;
	border: 1px solid #002B36;
}
article.highlight, .preview, .popup-menu {
	background-color:#002B36;
	border-left: 2px solid #DC322F;
}
article.editing {
	background-color: #002B36;
    border: 2px solid #586E75;
}
/*article.editing a, article.editing header {
	color: #222;
}*/
article.editing em {
	color: #859900;
}
article.editing li {
	color: #ddd;
}
article.editing .themed {
	color: #708383;
}
b {
    color: #DC322F;
}
b.admin {
	color: #f00000;
}
#banner {
    background: rgba(0, 43, 54, 0.7)
}
body {
	background-color: #073642;
	color: #93A1A1;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
code {
    color: #CB4B16
}
del {
    background-color: #839496;
    color: #839496;
    text-shadow: none;
}
del:hover, del:hover em, del.reveal, del.reveal em {
    color: #002B36;
}
.embed {
	background-color: white;
}
em {
	color: #859900;
}
h1 {
    color: #2AA198;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	font-family: Tahoma;
}
h3 {
	color: #D33682;
}
hr {
	border-top: 1px solid #586E75;
}
.popup-menu li:hover {
	background-color: #136;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.omit {
	color: #707070;
}
#lock, .scroll-lock header {
    background-image: url('ui/invlock.svg');
    background-size: 1em 1em;
    color: #93A1A1;
}
.themed {
	color: #999;
}
