a, blockquote a {
    color: #268BD2;
}
a:hover, .email b:hover {
    color: #2aa198;
}
.bfloat > svg {
    fill: #268BD2;
}
article, aside, .bmodal, .pagination {
    color: #657B83;
    background-color: #EEE8D5;
}
article.highlight {
    background-color: EEE8D5;
    border-left: 2px solid #268BD2;
}
article.editing {
    background-color: #EFDFAB;
    border: 0px;
}
b {
    color: #2AA198;
}
b.admin {
    color: #FFBCCC;
}
b.moderator {
    color: #F6BCFF;
}
#banner {
    background: rgba(238, 232, 213, 0.7);
}
body {
    background-image: none;
    color: #657B83;
    background-color: #FDF6E3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
pre, .themed {
    color: #657B83;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
em {
    color: #D33682;
}
h1 {
    color: #268bd2;
    font-family: "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro", Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}
h2 {
    color: #268bd2;
    font-family: "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro", Helvetica, sans-serif;
    text-shadow: #8e3523 1px 1px 0px;
}
h3 {
    color: #268bd2;
}
header nav a {
    color: #657b83;
}
hr {
    border-top: 1px solid #bac9b7;
}
.popup-menu li:hover {
    background-color: #EEE8D5;
}
.act:before {
    content: "[";
}
.act:after {
    content: "]";
}
.email, .email b {
    color: #657B83;
}
.modal, .preview, .popup-menu {
    background-color: #fdf6e3;
    border-right: 1px solid #e5e8e2;
    border-bottom: 1px solid #e5e8e2;
}
.omit {
    color: #657b83;
}

