a, blockquote a:hover, b.moderator {
	color: #ef9d6a;
}
.bfloat > svg {
	fill: #ef9d6a;
}
a:hover, blockquote a, .email b:hover, article.editing a:hover {
	color: #ef9d6a;
}
article, aside, .modal, .pagination {
	background: url(wood.jpg);
    color: white;
}
article.highlight, .preview, .popup-menu {
	background: url(wood.jpg);
    color: white;
}
article.editing {
	background:
        linear-gradient(
           rgba(239, 157, 106, 0.25),
           rgba(239, 157, 106, 0.25)
        ),
        url(wood.jpg);
	color: white;
}
article.editing a, article.editing header {
	color: white;
}
article.editing em {
	color: #B7BA3E;
}
article.editing li {
	color: white;
}
article.editing .themed {
	color: white;
}
b.admin {
	color: #f00000;
}
#banner {
	background: url(wood.jpg);
	color: white;
}
body {
	background: url(tavern.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white
}
.embed {
	background-color: white;
}
em {
	color: #B7BA3E;   
}
h1 {
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
    color: white;
}
h2 {
	font-family: Tahoma;
    color: white;
}
h3 {
	color: white;
}
hr {
	border-top: 1px solid #282a2e;
}
.popup-menu li:hover {
	background-color: #136;
    color: white;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.omit {
	color: white;
}
#lock, .scroll-lock header {
	background-image: url('ui/invlock.png');
}
.themed {
	color: white;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
	screen and (-o-device-pixel-ratio: 3/2),
	screen and (min--moz-device-pixel-ratio: 1.5),
	screen and (min-device-pixel-ratio: 1.5) {
	#lock, .scroll-lock header {
		background-image: url('ui/invlock2x.png');
	}
}
