@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

* {
font-family: 'Share Tech Mono', monospace;
}

a, blockquote a {
	color: #45CBCE;
}
.bfloat > svg {
	fill: #45CBCE;
}

a:hover, .email b:hover {
	color: #CE4545;
}
article, .bmodal, aside, .pagination {
    background-color: #0E131F;
    border-left: solid 2px #474747;
    border-top: solid 2px #474747;
    border-right: solid 2px #474747;
    border-bottom: solid 2px #474747;
    color: #fff  ;
}
article.highlight {
	background-color: #0E131F;
	border-left: 3px solid #45CBCE;
}
article.editing {
	background-color: #2E313E;
    border-left: solid 2px #8E9AA5;
    border-top: solid 2px #8E9AA5;
    border-right: solid 2px #8E9AA5;
    border-bottom: solid 2px #8E9AA5;
    color: #D5D5D5;
}
b {
	color: #92D2D7;
}
b.admin {
	color: #d60000;
}
b.moderator {
	color: #7800b3;
}
#banner {
    background-color: #0E131F;
    border-bottom:  solid 2px #474747;
    padding-top: 0.5%;
}
body {
    color: #fff;
    background-color: #000;
/*    background: url(http://a.pomf.se/qcgvbg.png); */
	font-size: 10pt;
}
pre, .themed {
  color: #59543f;
	font-size: 10pt;
}
em {
	color: #FF0094;
}
h1 {
	color: #93D792;
	font-size: 30px;
	text-shadow: #000 1px 1px 0px;
	letter-spacing: 1px;
}
h2 {
	color: #b32407;
	text-shadow: #8e3523 1px 1px 0px;
}
h3 {
	color: #D9679E;
}
header nav a {
	color: #92D7BC;
}
hr {
	border-top: 2px #474747 solid;
}
.popup-menu li:hover {
	background-color: #f9fcf7;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #92D2D7;
}
.modal, .preview, .popup-menu {
	background-color: #0E131F;
    border-left: solid 2px #474747  ;
    border-top: solid 2px #474747  ;
    border-right: solid 2px #474474  ;
    border-bottom: solid 2px #474747  ;
}
.omit {
	color: #fff;
}
#lock {
    background-image: url(ui/invlock.svg);
    background-size: 1em 1em;
}
code {
    color: #AD92D7;
}

del {
    background-color: #E77997;
    color: #E77997;
    text-shadow: none;
}

del:hover, del:hover em, del.reveal, del.reveal em {
    color: #000;
}
