a {
	color: #0000FF;
}
.bfloat > svg {
	fill: #0000FF;
}
a:hover, blockquote a, .email b:hover {
	color: #d00;
}
article, aside, .bmodal, .pagination {
	background-color: #EFEFEF;
    border: 1px outset white;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ABABAB;
    border-bottom: solid 1px #ABABAB;
}
article.editing {
	background-color: #CCFFCC;
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	border-right: solid 1px #ABABAB;
	border-bottom: solid 1px #ABABAB;
}
article.highlight {
	background-color: #DCDCDC;
	border-left: 2px solid red;
}
b {
	color: red;
}
b.admin {
	color: #f00000;
}
b.moderator {
	color: purple;
}
#banner {
	background: #CCFFCC;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}
body {
	background-color: #C5AD99;
    background-image: url(ba.gif);
    color: #000080;
}
body, pre, .themed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #789922;
}
h1 {
	color: #af0a0f;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #af0a0f;
	font-family: Tahoma;
}
h3 {
	color: #0f0c5d;
}
header nav a {
	color: black;
}
hr {
	border-top: 1px solid black;
}
.popup-menu li:hover {
	background-color: #f5f5f5;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.email, .email b {
	color: #0f0c5d;
}
.modal, .preview, .popup-menu {
	background-color: white;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.omit {
	color: black;
}
